.bg-image{
    background-image: url(https://images.nationalgeographic.org/image/upload/t_edhub_resource_key_image/v1638886301/EducationHub/photos/lightning-bolts.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}