.bg-image{
    background-image: url(https://www.shutterstock.com/image-photo/weather-forecast-concept-climate-change-260nw-1390294940.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}